/* Global definitions */

/* 
font-family-sans-serif:
font-family: 'BitStream Vera Sans', 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;

font-family-serif:
font-family: 'BitStream Vera Serif', Georgia, 'Times New Roman', Times, serif;

 */

/* 
background: white;
shadow: #ffffff;
border: #001100;
 */


a {
    text-decoration: underline;
    color: blue;
}

body {
    background: #ffffff;
}


/* classes */

.maintext {
    font-size: 14px;
    font-family: 'BitStream Vera Sans', 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}


.subtitle {
    font-size: 16px;
    font-family: 'BitStream Vera Serif Bold', Georgia, 'Times New Roman', Times, serif;
}

.boxtitle {
    padding: 2px 1em 2px 1em;
    width: 12em;
    border: 1px solid #001100;
    background: #F7F7F7;
    color: #990000;
    font-size: 19px;
    font-family: 'BitStream Vera Serif Bold', Georgia, 'Times New Roman', Times, serif;
}

.nameboxtitle {

    width: 12em;
    border: 1px solid #001100;
    background: #F7F7F7;
    color: #990000;
    font-size: 19px;
    font-family: 'BitStream Vera Serif Bold', Georgia, 'Times New Roman', Times, serif;
}

.boxtitle2 {
    padding: 2px 1em 2px 1em;
    width: 12em;
    border: 1px solid #001100;
    background: #F7F7F7;
    color: #990000;
    font-size: 19px;
    font-family: 'BitStream Vera Serif Bold', Georgia, 'Times New Roman', Times, serif;
}


.address {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #001100;
    padding: 5px;    
    line-height: 1.5;
}

.padding {
    padding: 10px;
}


/* IDs */

#main {
    border: 1px solid #001100;
    align: center;
    width: 80%;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-family: 'BitStream Vera Sans', 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

#top-banner {
    background: #F7F7F7;
    padding: 5px;
    border-bottom: 1px solid #001100;
    font-size: 25px;
    color: #990000;
    font-family: 'BitStream Vera Serif Bold', Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

#main-content {
}

#bodytext {
    padding: 10px;
}

#side {
    padding: 10px;
    float: right;
    width: 260px;
    background: #ffffff;
}

#links {
    padding: 10px; 
}
